@font-face {
    font-family: "OMORI";
    src: url("./fonts/OMORI_GAME2.ttf");
}

html, body {
    height: 100%; /* Make sure the html and body take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox on body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h1 {
    font-family: "OMORI";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin-top: -360px;
}
